.mainDiv {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.firstPic {
  max-width: 20%;
}

.secondPic {
  max-width: 20%;
}

.yesButton{
  margin: 10px;
  background-color: green;
  border-radius: 5px;
  color: white;
  font-size: larger;
  padding: 10px 20px 10px 20px;
}

.noButton {
  margin: 10px;
  background-color: red;
  border-radius: 5px;
  color: white;
  font-size: larger;
  padding: 10px 20px 10px 20px;
  position: relative;
}